* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
/* nov bar start */
nav {
  position: sticky;
  top: 0px;
  background-color: white;
}

.dropbtn,
.dropbtn2,
.dropbtn3 {
  background-color: white;
}

.dropdown-content,
.dropdown-content2,
.dropdown-content3 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a,
.dropdown-content2 a,
.dropdown-content3 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover,
.dropdown-content2 a:hover,
.dropdown-content3 a:hover {
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown2:hover .dropdown-content2 {
  display: block;
}

.dropdown3:hover .dropdown-content3 {
  display: block;
}

#flex_head {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  text-align: center;
  box-sizing: border-box;
}

#hdleft,
#hdright {
  display: flex;
}

#hdleft {
  width: 55%;
  overflow: hidden;
}

#hdleft > div {
  width: 25%;
  padding-top: 2%;
}

#hdleft > div:first-child {
  padding: 0%;
}

#hdleft > div > img {
  width: 100%;
  height: auto;
}

.dropbtn3,
.dropbtn2,
.dropbtn,
nav a {
  width: 90%;
  font-size: 17px;
  color: black;
  cursor: pointer;
  font-weight: bold;
  border: none;
}

#hdright {
  width: 40%;
}

#hdright > div {
  width: 30%;
  padding: 2%;
}

#hdright > div > img {
  height: 50%;
  width: auto;
}

#hdright > div:nth-child(2),
#hdright > div:nth-child(3) {
  width: 30%;
  display: flex;
}

#hdright button {
  width: 100%;
  height: 100%;
  color: black;
  font-weight: bold;
  font-size: 18px;
  border-radius: 8%;
  cursor: pointer;
}

#hdright:hover {
  color: #08cf65;
}
/* ends */
h1 {
  font-size: 7vh;
  line-height: 8vh;
}
#p1 {
  text-align: center;
  color: grey;
  font-size: 3vh;
  padding: 2vh;
  line-height: 5vh;
}
button {
  width: 17vw;
  height: 7.8vh;
  background-color: #08cf65;
  border-radius: 4px;
  font-size: 3vh;
  color: white;
  border: thin;
}
button:hover {
  background-color: #04ba71;
}
input {
  width: 20vw;
  height: 7.5vh;
  border-radius: 5px;
  text-align: left;
  padding-left: 5vh;
  font-size: 3vh;
  border: 1px solid grey;
  margin-top: 20px;
}
.header {
  background-image: url("../img/background.jpg");
  width: 100vw;
  height: 100vh;
  padding-top: 20vh;
  margin: auto;
  background-size: cover;
  text-align: center;
  background-repeat: no-repeat;
  margin-bottom: -15.5vh;
}
.header2 {
  background-color: #ebf5f3;
  padding-top: 10vh;
  height: 100vh;
  width: 100%;
  background-image: url("../img/4.svg");
  background-repeat: no-repeat;
  background-size: 720px;
  background-position: 650px 210px;
}
.footer1 {
  width: 100vw;
  height: 50vh;
  padding-top: 20vh;
  margin: auto;
  color: white;
  text-align: center;
  background-color: #04454d;
  background-size: cover;
  background-image: url("../img/1.png"), url("../img/2.png");
  background-repeat: no-repeat, no-repeat;
  background-position: -250px, 1150px 20px;
  background-size: 600px, 600px;
  line-height: 12vh;
}
.footer {
  background-color: #0c3245;
  width: 100vw;
  height: 80vh;
  color: white;
}
.listing {
  display: flex;
  flex-direction: row;
}
.listitem {
  padding-top: 7vh;
  margin-left: 70px;
  line-height: 5vh;
}
a {
  color: white;
  padding-top: 5vh;
  margin-left: 20px;
}
li:hover {
  color: greenyellow;
  text-decoration: underline;
  text-underline-offset: 5px;
}

p {
  font-size: 18px;
  padding-top: 25px;
}
.icons {
  text-decoration: none;
}
hr {
  width: 90vw;
  opacity: 0.15;
  margin: auto;
  margin-top: 20px;
}
.footersec {
  display: flex;
  flex-direction: row;
}
.imgid1 {
  width: 160px;
  height: 50px;
  margin: 10px;
  margin-left: 80px;
  border-radius: 10px;
  border: 1px solid gray;
  margin-right: -70px;
}

.footerpara {
  margin-top: 30px;
}
.header3 {
  height: 115vh;
  width: 80%;
  margin: auto;
  padding-top: 10vh;
  margin-right: 70px;
  display: flex;
  justify-content: space-around;
  background-image: url("../img/3.svg");
  background-position: -10px 400px;
  background-repeat: no-repeat;
  background-size: 500px;
}
.formpage1 {
  width: 40%;
  text-align: left;
  line-height: 35px;
}
.formpage {
  width: 50%;
}
select {
  padding: 5px;
  width: 22.7vw;
  height: 7.8vh;
  border-radius: 5px;
  font-size: 20px;
  padding-left: 25px;
}
#idbutton {
  width: 22.7vw;
  margin-top: 35px;
}
.empowerclass {
  width: 100%;
  height: 100vh;
  background-color: #ebf5f3;
  background-image: url("../img/4.svg");
  background-repeat: no-repeat;
  background-size: 720px;
  background-position: 670px 140px;
  padding-top: 10vh;
}

h2 {
  font-size: 4vh;
}
.middlecontent {
  display: flex;
  flex-direction: row;
}
.textcontent {
  width: 30%;
  display: flex;
  flex-direction: column;
  line-height: 5vh;
  padding-top: 13vh;
  float: left;
  margin-left: 30vh;
}
.textcontent1 {
  width: 30%;
  display: flex;
  flex-direction: column;
  line-height: 5vh;
  margin: auto;
  padding-top: 13vh;
  float: right;
  margin-right: 13vh;
}
.imagecontent1 {
  float: left;
  margin-left: 10vw;
}
.imagecontent {
  float: right;
  margin-right: 10vh;
}

.burnout {
  width: 100%;
  height: 80vh;
  background-color: #ebf5f3;
  background-image: url("../img/4.svg");
  background-repeat: no-repeat;
  background-size: 720px;
  background-position: 130px 10px;
}
.automated {
  width: 100%;
  height: 80vh;
  background-color: #ebf5f3;
  background-image: url("../img/4.svg");
  background-repeat: no-repeat;
  background-size: 700px;
  background-position: 725px 13px;
}
.security {
  width: 100%;
  height: 80vh;
  background-color: #ebf5f3;
}
span:after {
  content: " \2192";
}
span {
  padding-top: 5vh;
  color: green;
  cursor: pointer;
  font-size: 20px;
}
span:hover {
  color: green;
}
.selectors {
  width: 30%;
  display: flex;
  flex-direction: column;
  padding-left: 15vw;
  padding-top: 8vh;
}
.product {
  display: flex;
  flex-direction: row;
}
.imgcontent {
  width: 60%;
  display: block;
}

#s1 {
  margin-top: 10px;
  background-color: white;
  color: black;
  width: 25vw;
  padding-left: 5px;
  cursor: pointer;
  text-align: left;
}
#s1:hover {
  background-color: #0a615a;
  color: white;
}

/* media queries */
@media only screen and (max-width: 720px) {
  h1 {
    font-size: 4vh;
    text-align: center;
  }
  .header3 {
    flex-direction: column;
    background-image: none;
  }
  .formpage1 {
    width: 75vw;
  }
  .formpage {
    width: 100vw;
  }
  input {
    width: 80vw;
  }
  select {
    width: 88vw;
  }
  #idbutton {
    width: 88vw;
  }
  img {
    width: 80vw;
    height: 80vw;
    margin: auto;
  }
  .empowerclass {
    background-image: none;
    height: auto;
  }
  .middlecontent {
    flex-direction: column-reverse;
  }
  .imagecontent {
    width: 90vw;
    height: 90vw;
    margin-left: 50px;
    padding-top: 20px;
  }
  .textcontent {
    width: 100%;
    margin-left: 18px;
    padding-top: 10px;
  }
  .burnout {
    background-image: none;
  }
  .imagecontent1 {
    width: 90vw;
    height: 90vw;
    margin-left: 50px;
    padding-top: 10vh;
  }
  .textcontent1 {
    width: 75%;
    padding-top: 10px;
  }
  .automated {
    background-image: none;
    height: auto;
  }
}
