* {
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
}
nav{
    position: sticky;
    top: 0px;
    background-color: white;
}

.dropbtn,
.dropbtn2,
.dropbtn3 {
    background-color: white;
}

.dropdown-content,
.dropdown-content2,
.dropdown-content3 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a,
.dropdown-content2 a,
.dropdown-content3 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover,
.dropdown-content2 a:hover,
.dropdown-content3 a:hover {
    color: limegreen;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown2:hover .dropdown-content2 {
    display: block;
}

.dropdown3:hover .dropdown-content3 {
    display: block;
}

#flex_head {
    display: flex;
    justify-content: space-between;
    height: 10vh;
    text-align: center;
    box-sizing: border-box;
}

#hdleft,
#hdright {
    display: flex;
}

#hdleft {
    width: 55%;
    overflow: hidden;
}

#hdleft>div {
    width: 25%;
    padding-top: 2%;
}

#hdleft>div:first-child {
    padding: 0%;
}

#hdleft>div>img {
    width: 100%;
    height: auto;
}

.dropbtn3,
.dropbtn2,
.dropbtn,
 nav a {
    width: 90%;
    font-size: 17px;
    color: black;
    cursor: pointer;
    font-weight: normal;
    border: none;
}

#hdright {
    width: 40%;
}

#hdright>div {
    width: 30%;
    padding: 2%;
}

#hdright>div>img {
    height: 50%;
    width: auto;
}

#hdright>div:nth-child(2),
#hdright>div:nth-child(3) {
    width: 20%;
    display: flex;
}

#hdright button {
    width: 90%;
    height: 100%;
    color: white;
    font-weight: normal;
    font-size: 15px;
    border-radius: 4%;
    background-color: limegreen;
    cursor: pointer;
    border: 2px solid limegreen;
}
#sdnav{
    display: none;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: limegreen
}

.sidenav .closebtnnn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#spnn {
    margin-left: 80%;
    width: 70px;
    height: 50px;
    font-size: 35px;
    position: absolute;
    right: 0;
}

#sdnavflex {
    display: flex;
    position: sticky;
    top: 0px;
    background-color: white;
}

#sdnavlogo {
    height: 50px;
    width: 128px;
}

#sdnavlogo>img {
    width: 100%;
    height: auto;
}

#heading {
    height: 80vh;
    width: 98vw;
    margin-top: 9%;
}

#boyzz {
    height: 90%;
    width: 99%;
    background-image: url(boyzz.png);
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #cccccc;
}

#heading h1 {
    text-align: center;
    margin-top: 0%;
    font-size: 50px;
    font-weight: bolder;
}

#heading>h1 {
    margin-bottom: 0.4%;
}

#boyzz>p {
    text-align: center;
    color: gray;
    font-size: 20px;
    margin-bottom: 0%;
}

#boyzz>p:nth-child(2) {
    margin-top: 0%;
}

#trial {
    width: 48vw;
    margin: auto;
    margin-top: 5%;
}

#trial input[type="email"], #formtrial input[type="email"] {
    height: 52px;
    width: 53%;
    margin-left: 5%;
    border-radius: 6px;
    border: 1px solid gray;
}

#trial input[type="email"]::placeholder, #formtrial input[type="email"]::placeholder {
    text-align: center;
    font-size: 20px;
}

#trial input[type="submit"], #formtrial input[type="submit"] {
    height: 55px;
    width: 32%;
    margin-left: 1%;
    background-color: limegreen;
    border: 2px solid limegreen;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 6px;
    cursor: pointer;
}

#trial+div {
    width: 15vw;
    margin: auto;
    margin-top: 8%;
    text-align: center;
}

#trial+div>a {
    font-size: 25px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#trust {
    height: 25vh;
    margin-top: 5%;
    width: 98vw;
}

#trust>img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

#customer {
    margin-top: 10%;
}

#customer>h1 {
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
}

#grid1 {
    margin-top: 5%;
    display: grid;
    grid-template: "img1 content1";
}

#img1 {
    grid-area: img1;
    padding: 5%;
    display: block;
}

#content1 {
    grid-area: content1;
    display: block;
}

#img1>img,
#content1>img {
    width: 100%;
    height: auto;
}

#grid2 {
    margin-top: 5%;
    display: grid;
    grid-template: "content2 img2";
    background-color: #eaeae4;
}

#img2 {
    grid-area: img2;
    display: block;
    padding: 5%;
}

#content2 {
    grid-area: content2;
    display: block;
}

#img2>img,
#content2>img {
    width: 100%;
    height: auto;
}

#content2 {
    background-color: #eaeae4;
}

#content2>h1,
#content3>h1,
#content4>h1,
#content5>h1,
#content6>h1 {
    width: 50vw;
    line-height: 50px;
    font-weight: bolder;
    padding-left: 20px;
}
#content6>h1 {
    width: 38vw;
}

#content2>p,
#content3>p,
#content4>p,
#content5>p,
#content6>p {
    width: 40vw;
    padding: 15px;
    line-height: 30px;
    font-size: 20px;
    padding-left: 30px;
}
#content4>p{
    padding-left: 50px;
}

#content2>h2,
#content3>h2,
#content4>h2,
#content5>h2,
#content6>h2 {
    margin-top: 8%;
    margin-bottom: 0%;
    color: black;
}

#content2>h2>a,
#content3>h2>a,
#content4>h2>a,
#content5>h2>a,
#content6>h2>a{
    color: green;
    padding-left: 30px;
}
#content4>h2>a {
    padding-left: 50px;
}

#transform {
    width: 98vw;
    height: 55vh;
    margin-top: 5%;
}

#transform>img {
    width: 100%;
    height: auto;
}

#grid3 , #grid4, #grid5, #grid6{
    gap: 2%;
    padding-top: 5%;
    padding-bottom: 5%;
    display: grid;
    background-color: #e7efe7;
}
#grid3{
    grid-template: "content3 img3";
}
#grid4{
    grid-template: "img4 content4";
}
#grid5{
    grid-template: "content5 img5";
}
#grid6{
    grid-template: "img6 content6";
}

#content3 {
    grid-area: content3;
}
#content4 {
    grid-area: content4;
}
#content5 {
    grid-area: content5;
}
#content6 {
    grid-area: content6;
}

#img3 {
    grid-area: img3;
}
#img4 {
    grid-area: img4;
}
#img5 {
    grid-area: img5;
}
#img6 {
    grid-area: img6;
}

#img3>img, #img4>img, #img5>img, #img6>img {
    width: 100%;
    height: auto;
}
#arvigflex{
    display: flex;
    background-image: url(home_flex_arvig.png);
    padding-top: 0%;
    height: 90vh;
    width: 98vw;
    background-size: contain;
    background-color: #e7efe7;
    background-repeat: no-repeat;
}
#arvigflex > div > h1{
    padding: 7%;
    font-weight: 500;
}
#arvigflex > div > p{
    padding-left: 7%;
    font-weight: 500;
}
#montere, #stitch_fix, #unsw{
    width: 97vw;
    height: 70vh;
    padding: 2%;
    box-sizing: border-box;
    background-color: #e7efe7;
}
#unsw{
    height: 80vh;
}
#montere>img, #stitch_fix>img, #unsw>img{
    width: 100%;
    height: auto;
}
#integapp{
    width: 97.5vw;
    height: 80vh;
    background-image: url(home_app_integration.png);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 5;
    background-color: #294245;
}
#integapp a{
    color: limegreen;
    text-decoration: none;
}
#integapp h3{
    padding-top: 28%;
    padding-left: 5%;
}
#lastrial{
    text-align: center;
    padding-top: 8%;
    width: 97.5vw;
    height: 75vh;
    background-image: url(home_last_trial.png);
    background-size: contain;
    background-repeat: no-repeat;
}
#lastrial h1{
    font-weight: bolder;
    line-height: 60px;
}
#lastrial p{
    font-size: 18px;
    line-height: 60px;
}
#formtrial input[type="submit"]{
    width: 16%;
}
#formtrial input[type="email"]{
    width: 30%;
}